.chatlist {
    padding: 10px;
    height: calc(100vh - 90px);
    width: calc(100vw - 40px);
    overflow: hidden;
  }
  
  .chatlist > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }
  
  .textInput {
    padding: 10px 30px;
    width: calc(100vw - 140px);
    font-size: 16px;
    height: 30px;
    outline: none;
    border-radius: 50px;
    border: none;
    margin: 10px;
    position: fixed;
    bottom: 0;

  }
  
  .sendButton {
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 16px;
    outline: none;
    border-radius: 50px;
    background-color: rgb(73, 185, 255);
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .sendButton > svg {
      transform: scale(0.7);
      left: -10%;
      position: relative;
  }

  .chatItem {
    font-size: 18px;
    color: #333;
    border-radius: 8px;
    background: #fff;
    padding: 12px 18px;
    border: 0.5px solid rgba(0, 0, 0, 0.02);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    max-width: 70%;
    display: inline-block;
    text-align: left;
    margin-bottom: 6px;
    margin-right: auto;
  }
  
  .chatItem.right {
    margin-right: 0;
    margin-left: auto;
  }